.full-vp {
    position: absolute;
    inset: 0;
}

.box {
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 10px black;
}
.box--purple {
    background-color: var(--purple);
}
.box--white {
    background-color: white;
}
.box--big {
    border-radius: 40px;
}

.menu-box {
    width: calc(100% - 20px);
    max-width: 480px;
    padding: 47px 37px;
    box-sizing: border-box;
}

.box-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 87px;
    padding-inline: 20px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: var(--medium);
    box-shadow: 0 10px black;
}
.box-btn:not(:last-of-type) {
    margin-bottom: 24px;
}
.box-btn--red {
    background-color: var(--red);
    color: white;
}
.box-btn--yellow {
    background-color: var(--yellow);
}
.box-btn--white {
    background-color: white;
}
@media (hover: hover) and (pointer: fine) {
    .box-btn:hover {
        border-color: var(--dark-purple);
        box-shadow: 0 10px var(--dark-purple);
    }
}

.box-title {
    font-size: var(--large);
    text-align: center;
    margin-bottom: clamp(18px, calc(22vh - 109.6px), 29px);
}

.box-subtitle {
    font-size: var(--x-small);
    color: var(--purple);
    margin-bottom: 16px;
}

.box-text, .box-item {
    font-weight: 500;
    text-transform: initial;
}

.box-text {
    margin-bottom: clamp(16px, calc(32vh - 169.6px), 32px);
}

.box-list {
    counter-reset: counter;
    list-style: none;
    padding: 0;
    margin: 0;
}

.box-item {
    counter-increment: counter;
    position: relative;
    padding-left: 27px;
}
.box-item:not(:last-of-type) {
    margin-bottom: 10px;
}
.box-item:before {
    content: counter(counter);
    position: absolute;
    left: 0;
    font-weight: 700;
}

.game-btn {
    height: 39px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--dark-purple);
    font-size: var(--x-small);
    color: white;
}
@media (hover: hover) and (pointer: fine) {
    .game-btn:hover {
        background-color: var(--red);
    }
}