@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}