body, p {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    --dark-purple: #5C2DD5;
    --purple: #7945FF;
    --red: #FD6687;
    --yellow: #FFCE67;
    --large: 56px;
    --medium: 24px;
    --small: 20px;
    --x-small: 16px;
    --menu-transition: .6s;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'SpaceGrotesk';
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
    overflow: hidden;
}

button {
    padding: 0;
    border: 0;
    background: 0;
    font-family: inherit;
    text-transform: inherit;
    font-weight: inherit;
    cursor: pointer;
}